:root{
   --fd: 'Fredoka One',sans-serif;
   --mn: 'Montserrat', sans-serif;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-size: 10px;
  
}
.container{
   max-width: 1020px;
   margin: 0 auto;
}

.top{
 background: url(imgs/bg/sun.png)no-repeat top center,
 url(imgs/bg/bg-clouds.png)top center no-repeat,
 url(imgs/bg/bg.png) no-repeat top  center,
 #d6e6ef;
 background-size: cover,max(1800px,100%) 820px,
 cover;
 background-position: 0, 0 -140%, 0;
}
/* header */
.header{
   position: relative;
   top:-50px;
   width: 100%;
   height: 120px;
   padding-bottom: 30px;
   border-radius:5px;
   font-size: 1.7em;
   background-color: #4cb2e7;
   transform: rotate(-2deg);
}
.logo{
   position: relative;
   padding-bottom: 18px;
   top:5px;
   left: 35px;
   width: 250px;
   height: 140px;
   background-color:#e1ecf2;
   border: 6px solid white;
   border-radius: 10px;
   box-shadow: 0 5px 10px #127ea5;
   text-align: center;
   font-family: var(--fd);
   font-size: 1.8em;
   color: #4cb2e7;
   display: inline-flex;
   flex-direction: column;
   justify-content: flex-end;
   transform: rotate(-2deg);
}
.logo p{
   margin-top: 5px;
   font-size: .5em;
}

.header__menu{
   display: inline-block;
   transform: rotate(2deg);
   margin-left: 60px;
   font-family: var(--mn);
   font-weight: 700;
   color:white;
}
.header__menu ul{
   display: flex;
}
.header__menu li{
   list-style: none;
   margin-right: 30px;
}
.header__menu li:last-of-type{
   margin-right: 0;
}
/* form */
.form{
   position: relative;
   width: 320px;
   height: 500px;
   border: 7px solid #7ebee0;
   border-radius: 22px;
   background: url(imgs/ladder.png) left 20px bottom no-repeat #299fca;
}
.form fieldset{
   padding-right: 10px;
   margin-top: 25px;
   border:none;
   font-family: var(--mn);
   font-weight: 700;
   display: flex;
   flex-direction: column;
}
.form fieldset legend{
   display: flex;
   align-items:center;
   position: relative;
   height: 40px;
   left: -15px;
   margin-bottom: 25px;
   padding: 0 55px 0 20px;
   font-size: 2.1em;
   background-color: #ded90e;
   border-radius:5px 0 0 5px;
   box-shadow: -1.5px 1px 2px #127ea5;
}
.form fieldset legend::before {
   content:'';
   position: absolute;
   top:0;
   right: 0;
   border-right: 20px solid #299fca;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
}

.form fieldset p{
   margin-bottom: 15px;
   display: grid;
   grid-template-columns: 80px 1fr;
   align-items:center;
   column-gap: 10px;
}
.form fieldset p:last-of-type {
   margin-bottom: 0;
}
.form p input,
.form select,
.form textarea {
   padding: 5px;
   border: 4px solid #7ebee0;
   border-radius: 6px;
   outline: none;
   color: #299fca;
   font-family: var(--mn);
   font-weight: 700;
}
.form textarea{
   height: 80px;
}
.form p:last-of-type label{
   align-self: flex-start;
}
.form textarea{
   resize: none;
}
.form p label{
   display: inline-block;
   width: 85px;

   font-size: 1.5em;
   text-align: right;
   color:white;
   text-shadow: 1px 0 1px #2090b9,
   0 1px 1px #2090b9,
   -1px 0 1px #2090b9,
   0 -1px 1px #2090b9;
}

.form input[type='submit']{
   align-self:flex-end;
   height: 35px;
   margin-top: 10px;
   padding: 0 20px;
   background: linear-gradient(to top, #fbee05, #d6cc09);
   font-family: var(--mn);
   font-weight: 700;
   color:#299fca;
   border:none;
   border-radius:5px;
   cursor: pointer;
}
.book>.container{
   display: flex;
   justify-content: flex-end;
}
.offer-banner{
   align-self:center;
   flex:1 0 auto;
   height: 300px;
   margin-right: 40px;
   margin-bottom: 100px;
   background: url(imgs/plane.png) left top  no-repeat,url(imgs/header-cloud.png) right center no-repeat;
   background-size: 320px 140px,contain;
   font-family: var(--fd);
   text-align: center;
   font-size: 5em;
   color:#127ea5;
   display: flex;
   flex-direction: column;
   align-items:flex-end;
   justify-content: flex-end;
   padding: 0 45px 65px 0;
}
.offer-banner span{
   width: 320px;
}
.offer-banner p{
   width: 320px;
   font-size: .5em;
   color:#ded90e;
}

/* tours */
.tours{
   pointer-events: none;
   position: relative;
   top:-230px;
   width: 100%;
   padding-top: 265px;
   min-height: 500px;
   background: transparent url(imgs/bg/bg-clouds2.png) no-repeat top center;
   background-size: max(1800px, 100%);
}
.tours>.container{
   display: flex;
   justify-content: space-around;
}
.special-offers{
   pointer-events: auto;
   font-family: var(--mn);
}
.special-offers>p{
   font-weight: 700;
   font-size: 3em;
   color:white;
}
.offer{
   display: flex;
   width: 330px;
   margin-top: 30px;
   list-style: none;
   border-bottom:dotted 2px white;
}

.offer:last-of-type{
   border:none;
}
.offer img{
   width: 85px;
   height: 65px;
   margin-right: 15px;
   border: 2px solid white;
   border-radius:4px;
}
.offer__details{
   color:white;
}
.offer__details>h2{
   font-size: 1.7em;
}
.offer__details>p{
   font-size: 1.5em;
}
.offer__details>div{
   margin: 15px 0;
   display: flex;
   justify-content:flex-end;
}
.offer__price{
   font-size: 2.5em;
}
.offer__read{
   height: 28px;
   padding: 0 15px;
   margin-left: 15px;
   font-size: 1.5em;
   font-weight: 700;
   color: #64affc;
   border-radius:5px;
   border: none;
   background-color:#fcf004;
   cursor: pointer;
}


.tour-list{
   pointer-events: auto;
   flex: 1 0 auto;
   margin-left: 70px;
}
.tour-list__tabs{
   position: relative;
   padding-top: 70px;
   margin-right: 35px;
   border-bottom: 1px solid #81ffff;
   overflow: hidden;
}
.tour-list__tabs li{
   cursor:pointer;
   width: 118px;
   height: 30px;
   margin-right: 6px;
   background-color:#299fca;
   border-radius: 6px 6px 0 0;
   font-family: var(--mn);
   font-weight: 500;
   font-size: 1.5em;
   color: #81ffff;
   display: inline-flex;
   align-items:center;
   justify-content: center;
}
.tour-list__tabs .tour-list__tabs_active {
   color: #127ea5;
   background-color: #81ffff;
}
.tour-list__circle{
   position: absolute;
   right: 30px;
   bottom:-55px;
   width: 150px;
   height: 150px;
   padding: 25px 0 0 23px;
   border-radius:50%;
   background-color: #f2e60a;
   font-family: var(--fd);
   font-size: 2.5em;
   color: #34abd6;
}
.tour-list__circle_blue{
   right: 0;
   bottom: -20px;
   width: 65px;
   height: 65px;
   padding:10px 0 0 6px;
   background-color: #34abd6;
   border:4px solid white;
   font-size: 1.8em;
   font-weight: 500;
   color: white;
}
.tour-list__articles{
   margin-top: 5px;
   padding-left: 8px;
   font-size: 1.6em;
   color:white;
}
.tour-list__articles li{
   margin-top: 15px;
   display: grid;
   grid-template-columns: 1fr 60px 100px;
   column-gap: 20px;
   font-family: var(--mn);
   font-weight: 300;
}

.tour-list__articles li>p::before{
   content:"";
   display: inline-block;
   width: 11px;
   height: 11px;
   margin-right: 10px;
   border-radius:50%;
   background-color: #81ffff;
}